<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://vuejs.org/js/vue.js"></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue.js</title>
</head>
<body>
  <!-- Inicio basico -->

<div id='app'></div>
<!-- <template id="ejemplo">
  <div>
  <button type="button" @click="toggleShow()">Mostrar/Ocultar</button>
    <div v-if="show">
      <h2>{{ message }}</h2>
      
      <img v-bind:src="image"></img>
      <ul>
        <li v-for="(type, index) in types" :key="index">
          <a v-bind:href="type.url">{{ type.name }}</a>
        </li>
      </ul>
    </div>
  </div>
</template> -->

<!-- Crear componentes -->

<div id="app2"></div>

<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.min.js'></script>
<script src="main.js"></script>
<script src="main2.js"></script>
<script src="MovieCard.vue"></script>
</body>
</html>

  <!-- Crear un servidor -->
  <!-- En el archivo de la consola ponemos serve . // Nos devuelve una direccion de localhost -->